__pycache__/
*.pyc
env
.mypy_cache
.env
.vscode

# Idea / others #
#################

*.out
*.log
.DS_Store
.idea
.vscode
.project
bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out